################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/StockMarket/bin/Debug
/StockMarket/obj/Debug
/StockMarket/StockMarket.csproj.user
/StockMarket/obj/Release
